*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    background-color:#fff ;
    color:black;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: "work sans","Arial","sans-serif;";
    font-weight: 300;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image:linear-gradient(rgb(0,0,0,.2),rgb(0,0,0,.5)) , url(img/flower.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
h1{
    font-size: 500%;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}
h2{
    font-size: 200%;
    color: #fff;
    font-weight: 400;
}
/******Buttons******/
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
}

.btn-full:link,
.btn-full:visited {
    background-color: orange;
    color: white;
}
.btn-full:active,
.btn-full:hover{
    background-color: #ed07b7;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #ed07b7;
    color: #ed07b7;
}
.btn-ghost:active,
.btn-ghost:hover {
    background-color: #ed07b7;
    color: #fff;
}



.main-nav{
    list-style: none;
    float: right;
    margin-top: 50px;

}
.main-nav li {
    display:inline-block;
    margin-right:40px;
    text-transform:uppercase;
}
.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    transition:border-bottom 0.1s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom:4px solid #ed07b7;
}
.logo {
    height: 100px;
    width: auto;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
.laptop-image{
    width: 40%;
}

.about-heading {
    color: black;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 50px;
}
.about-para{
    color: gray;
    margin-bottom: 50px;
}
.about-box {
    margin-top:120px;
}
.about-box:first-child {
    text-align:left;
    padding:0 5%;
}
.about-box:last-child {
    text-align:right;  
}
